body {
    background-color: #fafafa;
}
a{
    font-weight: 600;
    text-decoration: none;
    color: slateblue;
}
#header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
#data{
    display: flex;
    flex-direction: row;
}
#graph{
    width :50%

}
.modebar{
      display: none !important;
}
#footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    display: block;
    /* or inline-block, at least its a block element */
    width: 800px;
    /* or width is certain by parent element */
    height: auto;
    /* height cannot be defined */
    word-break: break-all;
    /*  */
    word-wrap: break-word;
    /* if you want to cut the complete word */
    white-space: normal;
    /* be sure its not 'nowrap'! ! ! :/ */
}

#abstract {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60%
}

#abstract_container {
    display: flex;
    justify-content: center;
    align-items: center";

}

#myRange{
    margin:auto;
    width: 30%;
}
#slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5em;
    border-radius: 0.5em;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%; 
background: #4CAF50;
cursor: pointer;
}
  
.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #4CAF50;
cursor: pointer;
}